header {
    background-color: rgb(212, 179, 199); 
    padding: 20px 0;  
   }
   
   .caixa {
       position:relative;
       width: 940px;
       margin: 0 auto;
   }
   
   nav {
       position: absolute;
       top: 0;
       right: 0;
   }
   nav li {
       display: inline;
       margin: 0 0 0 15px;
   }
   
   nav a {
       text-transform: uppercase;
       color: #00000000;
       font-weight: bold;
       font-size: 22px;
       text-decoration: nome;
   }
   
   nav a:hover {
       color: darkcyan;
       text-decoration: skyblue;
   }
   
   .servicos {
       width: 940px;
       margin: 0 auto;
       padding: 50% 0;
   
   }
   
   .servicos li:hover {
       border-color: darkcyan;
   }
   
   .servicos li:active {
       border-color: darkcyan;
   }
   
   .servicos li:hover h2 {
       font-size: 35px;
   }
   
   .servicos li {
       display: inline-block;
       text-align: center;
       width: 30%;
       vertical-align: top;
       background: violet;
       margin: 0 1.5%;
       padding: 30px 20px;
       box-sizing: border-box;
       border: 2px solid #00000000;   
       border-radius: 10px; 
   }
   
   .servicos h2 {
       font-size: 30px;
       font-weight: bold;
   }
   
   .DescricaoServico {
       font-size: 18px;
   }
   
   .PrecoServico {
       font-size: 22px;
       font-weight: bold;
       margin: 10px 0 0;
       margin-top: 10px;
   }
   
   footer {
       text-align: center;
       background: url("bg.jpg");
       padding: 40px 0;
   }
   
   .copyright {
       color: #FFFFFF;
       font-size: 13px;
       margin: 20px 0 0;
   
   }

   main {
       width: 940px;
       margin: 0 auto;
   }

   form {
       margin-top: 40px 0;
   }

   form label, form legend {
       display: block;
       font-size: 20px;
       margin: 10px 10px;
   }

   .inputPadrao {
       display: block;
       margin: 0 0 20px;
       padding: 10px 25px;
       width: 50%;
   }

   .checkbox {
       margin: 0 0 20px;
   }

   .enviar {
       width: 40%;
       padding: 15px 0;
       background-color: rgb(139, 112, 112);
       color: #FFFFFF;
       font-weight: bold;
       font-size: 18px;
       border: none;
       border-radius: 5px;
       transition: 2s all;
       cursor: pointer;
   }
   
   .enviar:hover {
       background: darkorchid;
       transform: scale(1.2);
       transform: scale(1.2);
   }

   table {
       margin: 40px 0 40px;
   }

   thead {
       background: #555555;
       color:#FFFFFF;
       font-weight: bold;
   }

   td, th {
       border: 1px solid #000000;
       padding: 15px 15px;
   }

   